<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GlintCMS | an intesso open source project</title>
    <link href="/assets/wrap-layout/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/wrap-layout/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/wrap-layout/css/style.css" rel="stylesheet">

    <% if (typeof style !== 'undefined') { %>
    <link rel='stylesheet' href='<%- style %>'/>
    <% } %>

    <!--[if lt IE 9]>
    <script src="/assets/wrap-layout/js/html5shiv.js"></script>
    <script src="/assets/wrap-layout/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/assets/wrap-layout/favicon.ico">
</head>
<!--/head-->

<body>

<!--.preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<header id="header">
    <div class="container">
        <div class="container-inner">
            <div class="logo pull-left">
                <a class="pull-left logo" href="/">
                    <h1><img class="img-responsive" src="/assets/wrap-layout/images/logo.png" alt="logo"></h1>
                </a>
            </div>
            <div class="menu pull-right">
                <a href="#" class="nav-button">
                    <i class="fa fa-align-justify"></i> Menu
                </a>
            </div>
        </div>
    </div>
</header>
<!--/#header-->

<%- menu %>

<footer id="footer">

    <div class="footer-created hidden-xs" data-id="footer-left">
        <%- footerLeft %>
    </div>
    <div class="footer-template hidden-xs" data-id="footer-right">
        <%- footerRight %>
    </div>
</footer>

<script id="context" type="application/javascript">
    // TODO caution: fails with escaped characters like newline \n
    <% if (typeof context !== 'undefined' && context) { %>
    window.context = JSON.parse('<%- JSON.stringify(context) %>');
    <% } else { %>
    window.context = {};
    <% } %>
</script>

<script src="/assets/wrap-layout/js/jquery.js" defer></script>
<script src="/assets/wrap-layout/js/bootstrap.min.js" defer></script>

<% if (typeof script !== 'undefined') { %>
<script src='<%- script %>' defer></script>
<% } %>

<script src="/build/bundle.js" defer></script>


</body>
</html>